body{
  background-image: url('../img/pattern.jpg');
  margin: 0;
}

section{
  margin:96px 240px 32px 240px;
  background-color: white;
  padding:8px;
}

article{
  border-bottom: 2px solid black;
}

h1{
  text-align: center;
}

header{
  background-color: white;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

footer{
  background-color: black;
  overflow: hidden;
  bottom: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  color: white;
}

footer h5{
    text-align: center;
}

nav ul{
  list-style-type: none;
  overflow: hidden;
  margin: 0;
}

nav img{
  float:left;
}

nav li {
  float: right;
  padding: 14px 16px;
}

nav li a {
  display: block;
  color: black;
  text-align: center;
}

nav a li:hover {
  background-color: gray;
  color:white;
}

.active {
  background-color: black;
}