section{
    border: 1px solid black;
    border-radius: 25px; 
    width:35%;
    margin: 8px;
    font-family: 'Times New Roman', Times, serif;
}

.custom{
    border: 1px solid black;
    border-radius: 10px;
    padding: 4px;
    margin-top: 16px;
}

table{
    padding: 16px;
    text-align: left;
}